doctype html
html(lang="ru-Ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=1150, initial-scale=1")
		title COOLTECH
		// bower:css
		// endbower
		link(href="css/main.css" rel="stylesheet")

	body
		div.wrapper
			header.header
				div.header-contact
					div.section-wrapper
						div.social
							-var socials = [{soc:'fb', url:'https://www.facebook.com/', text:'facebook'},{soc:'vk', url:'http://vk.com/', text:'vkontakte'},{soc:'twt', url:'https://twitter.com/', text:'twitter'}];
							ul.social__list
								each item in socials
									li.social__item
										a(href="#{item.url}" class="social__link_#{item.soc}").social__link
											|#{item.text}
						div.address
							i.address__icon
							span.address__name.
								ул. Маяковская 6, офис 17
						div.contact
							i.contact__icon
							span.contact__phone.
								+7 (921) 123-12-13
				div.header-search
					div.section-wrapper
						div.logo
							a(href="/").logo__link
								img(src="img/logo/logo.png" alt="cooltech").logo__img
								h1.logo__header
									|COOLTECH
						div.search
							form(name="search" method="get").search__form
								input(type="search" placeholder="Что будем искать").search__input
								button(type="submit").search__submit
									|Найти
						div.basket
							-var basket = [{name: 'Карта проезда', class: 'map'}, {name: 'История заказов', class: 'history'}, {name: 'Корзина', class: 'bask' }]
							ul.basket__list
								each item in basket
									li.basket__item
										a(href="#" class="backet__link_#{item.class}").backet__link
											|#{item.name}
			nav.nav
				div.section-wrapper
					-var nav = [{name:'Планшеты', link:'#', active:''}, {name:'Мобильные телефоны', link:'#', active: '_active'}, {name:'Mp3 плееры', link:'#', active:''}, {name:'Персональные компьютеры', link:'#', active:''}, {name:'Ноутбуки', link:'#', active:''}, {name:'Аксессуары', link:'#', active:''}, {name:'Бытовая техника', link:'#', active:''}]
						
					ul.nav__list
						each item in nav
							li.nav__item
								a(href="#{item.link}" class="#{item.active == '_active' ? 'nav__link_active' : ''}").nav__link
									|#{item.name} 

			div.breadcrumbs
				div.section-wrapper
					-var breadcrumbs = [{name: 'Главная >', link: '#'}, {name: 'Каталог', link: '#', active: '_active'}]
					ul.breadcrumbs__list
						each item in breadcrumbs
							li.breadcrumbs__item
								a(href="#{item.link}" class="#{item.active == '_active' ? 'breadcrumbs__link_active' : ''}").breadcrumbs__link
									|#{item.name} 
			div.nav-name
				div.section-wrapper
					h2.nav-name__title
						|Мобильные телефоны
						
			div.section-wrapper
				aside.aside
				div.content
					div.view-catalog
					main.catalog
					


		footer.footer
			


		// bower:js
		// endbower
	