include _layout/_mixin
doctype html
html(lang="ru-Ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=1150, initial-scale=1")
		title COOLTECH
		// bower:css
		// endbower
		link(href="css/main.css" rel="stylesheet")

	body
		div.wrapper
			header.header
				div.header-contact
					div.section-wrapper
						div.social
							-var socials = [{soc:'fb', url:'https://www.facebook.com/', text:'facebook'},{soc:'vk', url:'http://vk.com/', text:'vkontakte'},{soc:'twt', url:'https://twitter.com/', text:'twitter'}];
							ul.social__list
								each item in socials
									li.social__item
										a(href="#{item.url}" class="social__link_#{item.soc}").social__link
											|#{item.text}
						div.address
							i.address__icon
							span.address__name.
								ул. Маяковская 6, офис 17
						div.contact
							i.contact__icon
							span.contact__phone.
								+7 (921) 123-12-13
				div.header-search
					div.section-wrapper
						div.logo
							a(href="/").logo__link
								img(src="img/logo/logo.png" alt="cooltech").logo__img
								h1.logo__header
									|COOLTECH
						div.search
							form(name="search" method="get").search__form
								input(type="search" placeholder="Что будем искать").search__input
								button(type="submit").search__submit
									|Найти
						div.basket
							-var basket = [{name: 'Карта проезда', class: 'map'}, {name: 'История заказов', class: 'history'}, {name: 'Корзина', class: 'bask' }]
							ul.basket__list
								each item in basket
									li.basket__item
										a(href="#" class="backet__link_#{item.class}").backet__link
											|#{item.name}
			nav.nav
				div.section-wrapper
					-var nav = [{name:'Планшеты', link:'#', active:''}, {name:'Мобильные телефоны', link:'#', active: '_active'}, {name:'Mp3 плееры', link:'#', active:''}, {name:'Персональные компьютеры', link:'#', active:''}, {name:'Ноутбуки', link:'#', active:''}, {name:'Аксессуары', link:'#', active:''}, {name:'Бытовая техника', link:'#', active:''}]
						
					ul.nav__list
						each item in nav
							li.nav__item
								a(href="#{item.link}" class="#{item.active == '_active' ? 'nav__link_active' : ''}").nav__link
									|#{item.name} 

			div.breadcrumbs
				div.section-wrapper
					-var breadcrumbs = [{name: 'Главная >', link: '#'}, {name: 'Каталог', link: '#', active: '_active'}]
					ul.breadcrumbs__list
						each item in breadcrumbs
							li.breadcrumbs__item
								a(href="#{item.link}" class="#{item.active == '_active' ? 'breadcrumbs__link_active' : ''}").breadcrumbs__link
									|#{item.name} 
			div.nav-name
				div.section-wrapper
					h2.nav-name__title
						|Мобильные телефоны
						
			div.section-wrapper
				aside.aside
					div.category
						-var category = [{name:'Флагманы', active:'', class: 'flagship'},{name: 'Бюджетная линейка', active: '_active', class: 'budget'}]
						ul.category__list
							each item in category
								li.category__item
									a(href="#" class="#{item.active == '_active' ? 'category__link_active' : ''}").category__link
										|#{item.name}

					div.accordion
						ul.accordion__list
							li.accordion__item
								a(href="#").accordion__trigger
									|Наличие в магазинах
									i.accordion__up
								ul.accordion__inner
									li.accordion__inner-item
										input(id="all" type="radio" name="availability" checked).radio__input
										label(for="all").radio__label 
											|Во всех магазинах
									li.accordion__inner-item
										input(id="nearest" type="radio" name="availability").radio__input 
										label(for="nearest").radio__label
											|В ближайшем ко мне магазине
							li.accordion__item
								a(href="#").accordion__trigger
									|Бренды
									i.accordion__up

								+checkbox('accordion__inner', ['lenovo', 'apple', 'samsung', 'asus', 'motorola'])

								li.accordion__inner-reset
									a(href="#" id="reset-checkbox").reset-checkbox
										|Сбросить фильтр	

							li.accordion__item
								div.price
									a(href="#").accordion__trigger
										|Цена
										i.accordion__up
									ul.accordion__inner
										li.accordion__inner-item
											span.price__text от
											input(type="text" id="amount0").price__input
											span.price__text до
											input(type="text" id="amount1").price__input
										li.accordion__inner-item
											div
												div
												span
												span

							li.accordion__item
								a(href="#").accordion__trigger
									|Цвет
									i.accordion__up
								ul.accordion__inner
									li.accordion__inner-item
										-var color = ['white', 'grey', 'black', 'darkblue', 'red', 'yellow', 'orange', 'green', 'blue', 'purple', 'pink', 'brown']
										
										ul.color__list
											each item in color
												li.color__item
													a(href="#" class="color__link_#{item}" ).color__link
														|#{item}
							li.accordion__item
								a(href="#").accordion__trigger
									|Операционная система
									i.accordion__up
								+checkbox('accordion__inner', ['android', 'iOs', 'windows mobile', 'symbian', 'custom'])
							li.accordion__inner-reset
									a(href="#" id="reset-checkbox").reset-checkbox
										|Сбросить фильтр

				div.content
					div.view-catalog
						div.sorting
							label(for="select").sorting__title
								|Сортировать по
							div.select__wrapper
								select(id="select" name="select").sorting__select
									option
										|по популярности
									option(selected)
										|по цене

						div.view-catalog-icon
							span.view-catalog__title
								|Вид каталога
							ul.view-catalog__list
								li.view-catalog__item
									a(href="#" class="view-catalog__link_table").view-catalog__link
										|table
								li.view-catalog__item
									a(href="#" class="view-catalog__link_thumbnail").view-catalog__link
										|thumbnail
								li.view-catalog__item
									a(href="#" class="view-catalog__link_list").view-catalog__link
										|link

					main.catalog
					


		footer.footer
			


		// bower:js
		// endbower

		script(src="js/main.js")
	