mixin checkbox(className, titles)
  ul(class=className)
    each item in titles
      li(class="#{className}-item")
        input(type="checkbox" id=item).checkbox__input
        label(for="#{item}").checkbox__label #{item}